<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyekACS.Properties.Settings.ConnectionString" connectionString="TNS_ADMIN=&quot;C:\Users\Jonathan Bryan\Oracle\network\admin&quot;;USER ID=USER1;PASSWORD=user1;DATA SOURCE=localhost:1521/XEPDB1;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>